/*  3D ASSET LABELS  */

.label-wrapper {
  pointer-events: none;
  z-index: 5;
}
.label {
  position: relative;
  padding: 6px 10px 7px;
  border-radius: 8px;
  background: rgba(101, 101, 101, 0.1);
  backdrop-filter: blur(4px);
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0,0,0,0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.12);
  transform-origin: center bottom;
  /* animation: LabelFloat 3s ease-in-out infinite; */
}
/* @keyframes labelFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
  100% { transform: translateY(0); }
} */



/*  NAME  */

.name-wrapper {
  pointer-events: none;
  z-index: 10;
}
.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  color: white;
  white-space: nowrap;
  box-shadow:
    0 2px 8px rgba(0,0,0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.name-container-top {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.name-text {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.name-title {
  /* font-size: 11px;
  font-weight: 400;
  opacity: 0.8;
  text-transform: lowercase;
  padding: 2px 6px;
  background: rgba(30,30,30,0.8);
  border-radius: 8px; */
  margin-top: 4px;
  padding: 4px 10px;
  background: linear-gradient(135deg, #2a2a35, #1f1f28);
  border-radius: 6px;
  font-size: 0.75rem;
  opacity: 0.9;
}
.name-badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 12px;
  margin-left: 8px;
  margin-top: 2px;
}



/*  SKILL ACTIVITY LIST  */

.skill-activity-wrapper {
  pointer-events: none;
  z-index: 9;
}
.skill-activity-container{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px; */
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  color: white;
  white-space: nowrap;
  box-shadow:
    0 2px 8px rgba(0,0,0, 0.4),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.skill-progress-bar{
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
}
.skill-progress-bar .bar-text{
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* .skill-name{} */



/*  ORBIT CONTROLS  */

.orbit-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 8px 12px;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}