html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: rgba(0,0,0,0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 10;
}

.overlay button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.name{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  border: 2px solid red;
}